.mainContainer{
    width : 75%;
    margin-left : 120px;
}
img{
    border-radius: 50%;
    border : 2px solid black;
}
img:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;

}
button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: green;
    color : white;
    font-size: 800;
    font-weight: 800;
    border : none;

}
button:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}
.maindiv{
    width : 80%;
    margin-left: 100px;
    box-shadow: 0 0 20px black;
}