
.navbar
{
width: 100%;
height: 10%;
display: flex;
background-color: black;


}
.leftnav
{   color: white;
    font-weight: bolder;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}
.rightnav
{
    color: white;
    width: 50%;
    height: 100%;
    margin-right: 20px;
   
   
    
}
.rightnav ul
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
}