
.sidebar-container
{
 width: 20%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 background-color: #000000;
 font-weight: bolder;
 /* position: absolute;
 left: 0px;
 top: 0px; */
 

}
.sidebar-logo-container
{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    align-items: center;
    gap: 20px;
    margin-top: 10%;
  
    
    
}

.sidebar-logo
{
    width: 50px;
    height: 50px;
    border-radius: 30px;

}

.sidebar-top-container
{
    width: 60%;
    height: 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #B3B3B3;
   
}
.sidebar-top-container .sidebar-item-decor
{
    width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:5px;
        
}
 a {
    text-decoration: none;
    color: #B3B3B3;
  }
.sidebar-item-decor span:hover 
{
    color: #FFFFFF;
}

.sidebar-mid-container
{
    width: 60%;
    height: 14%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #B3B3B3;
   
}

.sidebar-mid-container .sidebar-item-decor
{
    width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:5px;
    
   
    
}
.sidebar-bottom-container
{
    color: #B3B3B3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    font-weight: normal;
    font-size: small;
}
